<div class="sidebar-inner">
    <h1 class="site-title">
        <a class="site-title-link" href="{{ '/' }}">neocorax</a><span class="binomial"><i>corvus corax novo</i></span>
    </h1>

    <nav class="tree">
        <ul>
            <li class="tree-root"><a href="{{ '/' }}">~</a></li>
            {% for item in site.data.nav %}
            <li><a href="{{ item.link }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>

    <p class="tagline"><i>If it can be known, it'd be intolerable not to.</i></p>
</div>
