<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>

<body>

<div id="wrapper">

    <div id="TopBanner">
        {% include header.html %}
    </div>

    <div id="bodytop"></div>

    <div id="bodyfill">
        <div id="content">

            <div id="COL-left">
                {% include sidebar-left.html %}
            </div>

            <div id="COL-right">
                {% include sidebar-right.html %}
            </div>

            <div id="COL-center">
                <div class="menubox">
                    <div class="menutop"></div>
                    <div class="menufill">
                        {% unless page.menutitle == false %}<div class="menutitle">{{ page.title }}</div>{% endunless %}
                        <div class="menuinfoL">
                            {{ content }}
                        </div>
                    </div>
                    <div class="menufoot"></div>
                </div>
            </div>

        </div>
    </div>

    <div id="bodybottom"></div>

    <div id="footer">
        {% include footer.html %}
    </div>

</div>

</body>
</html>
